<nav>
    <ul>
        <li><a href="/">Startseite</a></li>
        <li><a href="/books">Bücher</a></li>
        <li><a href="/users/register">Registrieren</a></li>
        <li><a href="/users/login">Anmelden</a></li>
    </ul>
</nav>

