{% extends "layouts:default.njk" %}
{% from "book:form.njk" import bookForm %}

{% block content %}
<h2>Buch bearbeiten</h2>
{{ bookForm("/books/" ~ book.id, "PUT", book, authors, "Änderungen speichern") }}
{% endblock %}